<li>
  Name: <%= user.name %>
  <span class="profile-link">
    <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
  </span>
</li>

<%= added_friend(user, @friendship) %>

<% if current_user.id == user.id %>
    <%= render 'posts/received_invites', received_invites: @received_invites %><br>
<% end %>
