
<ul>
  <% if current_user.id == friendship.user.id %>
    <li>
      Sent invitations: <%= friendship.friend.name %>
      <span class="profile-link">
        <%= link_to 'See Profile', user_path(friendship.friend), class: 'profile-link' %>
      </span>
    </li>
  <% end %>
</ul>

<br>


<ul>
  <% if current_user.id == friendship.friend.id %>
    <li>
      Received invitations: <%= friendship.user.name %>
      <span class="profile-link">
        <%= link_to 'See Profile', user_path(friendship.user), class: 'profile-link' %>
      </span>
    </li>
  <% end %>
</ul>